@font-face{
	font-family:Butler_Bold;
	src:url(/assets/css/fonts/Butler_Bold.otf) format("opentype")
}
@font-face{
	font-family:Butler_Light ;
	src:url(/assets/css/fonts/Butler_Light.otf) format("opentype");
}
@font-face{
	font-family:Butler_Medium;
	src:url(/assets/css/fonts/Butler_Medium.otf) format("opentype");
}
@font-face{
	font-family:AcuminPro_Bold ;
	src:url(/assets/css/fonts/AcuminPro-Bold.otf) format("opentype");
}
@font-face{
	font-family:AcuminProCondensed_Bold ;
	src:url(/assets/css/fonts/AcuminProCondensed-Bold.otf) format("opentype");
}


body{
	background-color: #0f0e0e;
	margin: 0;
	padding: 0;
	font-family: Butler_Light;
	color:#ffffff;
}
.top_block{
	width: 100%;
	height: 735px;
	background: url(/assets/img/bg.jpg) top no-repeat ;
	// background-size: cover;
}
header{
	height: 80px;
	border-bottom:#3b3a3a solid 1px;
}
.burger{
	padding-top: 28px;
	}
a, a:hover {
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	color: #dfdfdf;
}
.logo_constr{
	padding-top: 22px;
	height: 38px;;
}
.sign_in{
	color:#ffffff;
	display: flex;
	justify-content: flex-end;
	align-items:center;
	font-family: AcuminPro_Bold;
	font-size: 13px;
		span{
		margin-right: 10px;
		padding-top: 31px;
		}
		img{
		padding-top: 27px;
		}
}
nav {
	height: 74px;
	border-bottom:#3b3a3a solid 1px;
		.search{
		margin-bottom: 5px;
		}
}
#menu{
	margin: 0;
	padding: 0;
	outline: none;
		ul{
			position: absolute;
			display: none;
			list-style: none;
			top: 20px;
			z-index: 1;
		}
		li {
			display: block;
			position: relative;
			float: left;
			padding-right: 40px;
			list-style: none;
				ul{
					padding: 0;
					li{
						display: block;
						padding-right: 40px!important;
					}
				}
				a{
						display: block;
						float: left;
						font-family:AcuminPro_Bold;
						font-size: 13px;
						color: #ccc6c6;
						transition: all 0.2s linear;
					}
				a:hover{
					background-color: #ccc6c6;
					color:#3b3a3a;
				}
				ul li:nth-of-type(n+1){
					padding-top: 5px;
				}
		}
}
#menu :last-child{
	padding-right: 0;
}

.tittle h1{
	font-family: AcuminProCondensed_Bold ;
	font-size: 70px;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-top: 140px;
}
.triger{
	padding-top: 35px;
		a{
			text-align: center;
			border:1px solid #b3b3b3;
			border-radius: 20px;
			color: #ffffff;
			margin-right: 20px;
		}
		:last-child{
			margin-right: 0;
		}
		.triger_social{
			width: 40px;
			color:#ffffff;
			line-height: 40px;
		}
		.triger_button{
		display: block;
		width: 146px;
		height: 40px;
		padding: 11px;
		font-family: AcuminProCondensed_Bold ;
		font-size: 13px;
		letter-spacing: 0.27px;
		}
		.triger_button:hover{
			border:1px solid #ffffff;
			color:#0f0e0e;
			background-color: #ffffff;
		}
		.triger_social:hover{
			border:1px solid #ffffff;
			color:#0f0e0e;
			background-color: #ffffff;
		}
		span{
		line-height: 40px;
		font-family:AcuminProCondensed_Bold;
		font-size: 13px;
		letter-spacing: 0.27px;
		color:#656265;
		margin-right: 20px;
		}
}
.element{
	padding-top: 150px;
	height: 281px;
			img{
				height: 22px;
			}
}
h3{
font-family: Butler_Bold;
font-size: 20px;
}
h2{
	font-family: AcuminProCondensed_Bold;
	font-size: 22px;
	line-height: 42px;
	text-transform: uppercase;
}
.content_img{
	 position: relative;
			.content_data{
				left: 0;
				position: absolute;
			}

}
.content_data{
	top: 142px;
	margin-left: 22px;
		span{
			font-family: Butler_Light;
			font-size: 14px;
			color: #ccc6c6;
			line-height: 43px;
		}
		h3{
			width: 230px;
		}
		.long_img{
		width: 440px;
		}
		.content_readmore{
				a{
				font-family: Butler_Light;
				color: #ccc6c6;
				line-height: 50px;
				padding-right: 11px;
				text-transform: none;
					span{
							font-size: 16px;
					}
				}
		}
}
.row_1{
	height: 322px;
}
.row_2{
	height: 644px;
}
.content_wrap{
	position: relative;
}
.content_sidebar{
	position: absolute;
	top: -10px;
	height: 322px;
		a {
			border: 1px solid white;
		}
		h2{
			margin-bottom: 36px;
		}
	 p{
		font-family: Butler_Light;
		font-size: 17px;
		line-height: 26px;
		letter-spacing: 0.68px;
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid #1f1e1d;
		margin-bottom: 38px;
	 }
}
.content_quote{
		span{
		top:400px;
		position: absolute;
		font-family: Butler_Bold;
		font-size: 28px;
		color: #fefefe;
		letter-spacing: 1.12px;
		line-height: 26px;
		font-style: italic;
		}
		.content_quote_text{
			position: absolute;
				width: 180px;
				font-family: Butler_Light;
				font-size: 18px;
				color: #ccc6c6;
				letter-spacing: 1.12px;
				line-height: 26px;
				font-style: italic;
				padding-left: 36px;
		}
		.content_quote_autor{
			position: absolute;
			top: 517px;
			width: 180px;
			font-family: Butler_Medium;
			font-style: italic;
				font-size: 16px;
				color: #ffffff;
				letter-spacing: 0.64px;
				line-height: 42px;
				padding-left: 78px;
		}
}
.last_article{
	margin-top: 69px;
}
// .content_articles:hover{

// 		transform: scale(1.1);
// 		transition: 2s ease-out;

// }
.big_img{
	margin-left: 48px;
	top: 323px;
		.content_articles_more{
				font-size: 17px;
				color: #ccc6c6;
				line-height: 29px;
				letter-spacing: 0.68px;
				width: 400px;
				margin-bottom: 8px;
		}
}
.load_more{
	padding-top: 43px;
	position: relative;
	height: 22px;
	border-bottom: 1px solid #1f1e1d;
		a{
			padding-left: 20px;
			font-family: AcuminProCondensed_Bold;
			font-size: 17px;
			line-height: 21px;
			text-transform: uppercase;
			letter-spacing: 0.68px;
			width: 118px;
			background-color:  #0f0e0e;
			position: absolute;
			top: 35px;
		}
}
.vector_elem{
	position: absolute;
	top: 16px;
	left: -26px;
}
.dots{
	padding-top: 23px;
	padding-bottom: 90px;
}
.subscribe_news{
	background-color: #121211;
	height: 153px;
	.subscribe_to_news{
		font-family: AcuminProCondensed_Bold;
		font-size: 47px;
		text-transform: uppercase;
		margin-left: -5px;
		display: inline;
		line-height: 153px;
	}
	.write_email {
			height: 40px;
			width: 194px;
			border:1px solid #343230;
			border-radius: 20px;
			float: left;
			margin-right: 17px;
			margin-top: 53px;
			a{
				padding-left: 20px;
				color:#343230;
				font-family: AcuminProCondensed_Bold;
				font-size: 13px;
			line-height: 40px;

			}
	}
	.subscribe_btn{
			height: 40px;
			width: 115px;
			border:1px solid #343230;
			border-radius: 20px;
			text-align: center;
			margin-top: 53px;
			a{
				font-family: AcuminProCondensed_Bold;
				font-size: 13px;
				line-height: 40px;
			}
	}
}
.element_2{
	padding-top: 151px;
	padding-bottom: 17px;
	img{
			height: 22px;
		}
}
.footer_list{
	padding-top: 164px;
	.triger{
		padding-top: 0px;
	}
				ul{
					list-style: none;
					padding-inline-start: 0px;
					li{
						font-family: AcuminPro_Bold ;
						font-size: 13px;
						line-height: 41px;
						text-transform: uppercase;

						a{
							font-family: AcuminPro_Bold ;
							font-size: 13px;
							line-height: 41px;
							text-transform: uppercase;
							color: #ccc6c6;
						}
						a:hover{
							color: #3b3a3a;
						}
					}
				}

				.contact{
					padding-top: 24px;
				}
}
.last_block{
	height: 119px;
	border-top: 1px solid #3b3a3a;
	img{
		padding-top: 20px;
	}
}

.end_block{
	// height: 531px;
	background: url(/assets/img/footer-bg.jpg) bottom no-repeat;
	// background-size: cover;
}