@font-face {
	font-family: 'exo_2.0extra_light';
	src: url('fonts/Exo2.0-ExtraLight-webfont.eot');
	src: url('fonts/Exo2.0-ExtraLight-webfontd41d.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Exo2.0-ExtraLight-webfont.woff2') format('woff2'),
			 url('fonts/Exo2.0-ExtraLight-webfont.woff') format('woff'),
			 url('fonts/Exo2.0-ExtraLight-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'exo_2.0light';
	src: url('fonts/Exo2.0-Light-webfont.eot');
	src: url('fonts/Exo2.0-Light-webfontd41d.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Exo2.0-Light-webfont.woff2') format('woff2'),
			 url('fonts/Exo2.0-Light-webfont.woff') format('woff'),
			 url('fonts/Exo2.0-Light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'playregular';
	src: url('fonts/play-regular.eot');
	src: url('fonts/play-regulard41d.eot?#iefix') format('embedded-opentype'),
			 url('fonts/play-regular.woff') format('woff'),
			 url('fonts/play-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}







// @font-face {
// 	font-family: 'exo_2.0regular';
// 	src: url('Exo2.0-Regular-webfont.eot');
// 	src: url('Exo2.0-Regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
// 			 url('Exo2.0-Regular-webfont.woff2') format('woff2'),
// 			 url('Exo2.0-Regular-webfont.woff') format('woff'),
// 			 url('Exo2.0-Regular-webfont.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;

// }




@font-face {
	font-family: 'exo_2.0semi_bold';
	src: url('fonts/Exo2.0-SemiBold-webfont.eot');
	src: url('fonts/Exo2.0-SemiBold-webfontd41d.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Exo2.0-SemiBold-webfont.woff2') format('woff2'),
			 url('fonts/Exo2.0-SemiBold-webfont.woff') format('woff'),
			 url('fonts/Exo2.0-SemiBold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}