@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&subset=cyrillic,cyrillic-ext');
@font-face {
  font-family: 'Verdana';
  src: local('Verdana'),
       url('/assets/fonts/Verdana.woff') format('woff'),
       url('/assets/fonts/Verdana.ttf') format('ttf'),
       url('/assets/fonts/Verdana.eot') format('eot');
};
@font-face {
font-family: 'Verdana_Bold';
src: url('/assets/fonts/Verdana-Bold.woff') format('woff'),
		 url('/assets/fonts/Verdana-Bold.ttf') format('ttf'),
		 url('/assets/fonts/Verdana-Bold.eot') format('eot');
};
@font-face {
font-family: 'Verdana_Italic';
src: url('/assets/fonts/Verdana-Italic.woff') format('woff'),
		 url('/assets/fonts/Verdana-Italic.ttf') format('ttf'),
		 url('/assets/fonts/Verdana-Italic.eot') format('eot');
};
@font-face {
  font-family: 'ElektraTextPro';
  src: url('/assets/fonts/EtelkaText.otf') format('opentype');
};
@font-face {
  font-family: 'ElektraTextPro_Bold';
  src: url('/assets/fonts/EtelkaTextBold.otf') format('opentype');
};
@font-face {
  font-family: 'ElektraTextPro_Italic';
  src: url('/assets/fonts/EtelkaTextItalic.otf') format('opentype');
};
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto Slab', serif;
// font-family: 'Montserrat', sans-serif;
//font-family: Verdana, sans-serif;
//font-family: ElektraTextPro, sans-serif;