$primary: #b70021;
$secondary:#9C720C;
$unprimary:#1A2930;
$bcgcMenu:#F2F2F2;
$blockcol:#AEAEAC;
$elektra: 'ElektraTextPro', sans-serif;
$elektrabold: 'ElektraTextPro_Bold', sans-serif;
$elektrait: 'ElektraTextPro_Italic', sans-serif;
$verdana: 'Verdana', serif;
$verdanabold:'Verdana_Bold', serif;
$verdanait:'Verdana_Italic', serif;
$proximathin:'Proxima_Nova_Thin';
$proximareg:'Proxima_Nova_Regular';