@import 'fonts';
@import 'values';

.content_sidebar{

	.sidebar_nav_wrapper{
		font-size: 14px;
		font-family: $elektra;
		width: 300px;
		max-height: 400px;
		text-transform: uppercase;
		background-color: $primary;
		position: fixed;
		@media screen and (max-width: 725px){
			position:initial;
			width:100%;
			font-size: 16px;
		}

		.sidebar_nav{
			padding-left: 70px;
			margin-right: 30px;
			padding-top: 20%;
			padding-bottom:20%;

			.sidebar_nav_items{
				line-height: 2.5em;
				@media screen and (max-width: 725px){
					width:16em;
				margin-left: auto;
				margin-right: auto;
				}
				a{
				color: #fff;
				}
			}
		}
	}
	.minor_header{
		float: left;
		margin-left: 400px;
		margin-bottom:60px;
		margin-top:40px;
		color:$primary;
		@media screen and (max-width: 725px){
			float: inherit;
			width:20.5em;
		margin-left: auto;
		margin-right: auto;
		}

		h1{
		letter-spacing: -1px;
		font-family:$verdanabold;
		}
	}
	.minor_header:after{
		content: "";
    display: block;
    width: 150px;
    height: 20px;
    border-bottom: 3px solid $primary;
    // bottom: -2px;
		// content:"";
		// background-color:red;
		// height:2px;
	}
	.sidebar_content{
		position: relative;
		float: left;
		min-height: 400px;
		// margin-left: 350px;

		font-family:$verdana;
		font-size:14px;
		z-index: -5;
		// @media screen and (max-width: 725px){
		// 	margin-left: 12px;}
		.sidebar_content_inner{
		//  margin-right: 30px;
		 margin-left: 300px;
		 @media screen and (max-width: 725px){
			margin-left: 12px;
			margin-right: 0px;

		}
		}
		.history_foto{
			overflow: hidden;
			margin-bottom: 50px;
		.history_foto_img{
			width: 100%;
			animation: scale_img 30s infinite linear;
			@media screen and (max-width: 725px){
				display: block;
				margin-left: auto;
				margin-right: auto;

			}
		}
		// img:focus{
		// 	transform: scale(1.3);
		// }
		@keyframes scale_img {
			0%{transform: scale(1);}
			50% {transform: scale(1.2);}
			100%{transform: scale(1);}
			}

		// function come(elem) {
		// 	var docViewTop = $(window).scrollTop(),
		// 		docViewBottom = docViewTop + $(window).height(),
		// 		elemTop = $(elem).offset().top,
		// 		elemBottom = elemTop + $(elem).height();

		// 	return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
		// }

		// юзать так
		// if (come("#section2")) {
		// 		...
		// }
	}
    .history_content{
			padding-bottom: 50px;
			margin-left: 30px;
			margin-right: 30px;
			.heading_h3{
				border-bottom-color: $unprimary;
			}
			p{
				line-height:1.8 ;
				@media screen and (max-width: 725px){
					margin-left: 20px;
					margin-right: 20px;
				}
			}
		}

		.list{
			margin-left:40px;
			p{
				font-size: 20px;
			line-height:2;
			font-family:$elektrait;
			color:$unprimary;
			@media screen and (max-width: 465px){
				font-size: 16px;
			}
			}
		}
		.list:before, .list:after{
			content: "";
			display: block;
			width: 40%;
			height: 2px;
			border-bottom: 1px solid $unprimary;
			margin-top:30px;
			margin-bottom:30px;
			opacity:0.5;
		}
		.decolist{
			margin-left:40px;
			p{
			font-size: 20px;
			line-height:2;
			font-family:$verdanait;
			color:$primary;
			@media screen and (max-width: 465px){
				font-size: 16px;
			}
			}
		}
		.decolist:before{
			content: "";
			display: block;
			width: 40%;
			height: 2px;
			border-bottom: 1px solid $unprimary;
			margin-top:30px;
			margin-bottom:30px;
			opacity:0.5;
		}

	}
}
#values_dgm{
	max-width: 600px;
}