@import 'fonts';
@import 'values';
body{
	margin: 0;
	padding: 0;

}
.preloader{
	background-color: $unprimary;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	// transition: 1s all;
	opacity: 1;
	visibility: visible;
	.loader{
		span{
			position: absolute;
			left:50%;
			top:100%;
			transform: translate(-50%, -50%);
			opacity: 0.5;
			line-height: 75px;
			text-align: center;
			color: #fff;
			font-size: 35px;
			font-family: Helvetica, Arial, sans-serif;
		}
		// border: 5px solid white;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&.done{
		opacity: 0;
		visibility: hidden;
	}
	#load{
		position: absolute;
		width: 600px;
		height: 36px;
		left: 50%;
		top: 85%;
		margin-left: -300px;
		overflow: visible;
		user-select: none;
		cursor: default;
		color: #fff;
		div{
			position: absolute;
			width: 20px;
			height: 36px;
			opacity: 0;
			font-family: Helvetica, Arial, sans-serif;
			animation:move 2s linear infinite;
			transform:rotate(180deg);
			color:#fff;
		}
	}
		#load div:nth-child(2) {
			animation-delay:0.2s;
		}
		#load div:nth-child(3) {
			animation-delay:0.4s;
		}
		#load div:nth-child(4) {
			animation-delay:0.6s;
		}
		#load div:nth-child(5) {
			animation-delay:0.8s;
		}
		#load div:nth-child(6) {
			animation-delay:1s;
		}
		#load div:nth-child(7) {
			animation-delay:1.2s;
		}

		@keyframes move {
			0% {
				left:0;
				opacity:0;
			}
			35% {
				left: 41%;
				transform:rotate(0deg);
				opacity:1;
			}
			65% {
				left:59%;
				transform:rotate(0deg);
				opacity:1;
			}
			100% {
				left:100%;
				transform:rotate(-180deg);
				opacity:0;
			}
		}
	}

#leftborder{
	content: "";
	background-color:$primary;
	width: 12px;
	height: 100%;
	position: fixed;
	z-index: 5;
	cursor: pointer;
}

.heading_h2,.heading_h3,.heading_h4{
	margin: 0;
	font-weight: 400;

}
.heading_h4{
	font-family: $verdana;
	font-size: 14px;
	line-height: 1.5;
}
.heading_h3 {
	font-family: $elektra;
	font-size: 16px;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-bottom: 2px solid #fff;
	margin-bottom: 50px;
	width: 50%;
}
.heading_h2 {
	font-family: $verdana;
	font-size: 30px;
	line-height: 1.3;
	letter-spacing: 1px;
}
a{
	cursor: pointer;
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#video_background{
	filter: grayscale(50%);
	position: absolute!important;
	// filter: sepia(50%);
}
.logo{
	position: absolute;
	top: 20px;
	right: 40px;
	width:200px;
	@media screen and (max-width: 725px){
		width:130px;
	}

}
.logo img{
	height: 130px;
	@media screen and (max-width: 725px){
		height: 80px;
	}
	@media screen and (max-width: 465px){
		height: 60px;
	}

	// animation: logo_rotate 12s ease-in-out infinite;
}
// .logo img:hover{
// 	animation-play-state: paused;
// }
.header_container{
	height: 165px;
	background-color:$unprimary;
	@media screen and (max-width: 725px){
	height: 120px;
	}
}

.sidebar_content:before{
	background-color: #1a2930;
	content: "";
	display: block;
	width: 300px;
	position: absolute;
	top: -165px;
	bottom: 0;
	@media screen and (max-width: 725px){
		display: none;
	}
}
.transparent{
	// position: absolute;
	right: 30px;
	top: 10px;
	border: 1px solid rgba(255, 255, 255, 0);
	@media screen and (max-width: 460px){
	right: 20px;
top:15px}
	// display: inline-block;
	// background-color: rgba(242, 242, 242, 1);
	// box-shadow: 4px 5px 10px 0px #c0c0c0;

}

.container{
// height: 85px;
// width: 100%;
// display: grid;
// grid-template-columns: 200px 1fr;
// align-items: center;
// position: absolute;
// text-align: right;
background-color: $primary;
margin: 0;
padding: 0;

#MenuIcon{
    height: 25px;
    width: 50px;
    position: fixed;
    top:70px;
		left: 70px;
		z-index: 10;
		@media screen and (max-width: 725px){
			top:45px;
		}
		@media screen and (max-width: 460px){
			left: 40px;
			top:35px;
		}

}
#MenuIcon:hover{
  cursor: pointer;
}
#MenuText{
	font-family: $elektrabold;
	font-size: 20px;
	text-transform: uppercase;
	position: absolute;
	color: $primary;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all .3s;
}
// #MenuLine{
//     height: 4px;
//      width: 50px;
//     // background-color: #181818;
//     position: absolute;
//     top:50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     transition: all .3s;
// }
#MenuIcon:hover #MenuText{
    left: 10%;
}
#MenuLine::before{
    content: '';
    height: 4px;
    width: 47px;
    background-color: $primary;
    position: absolute;
    margin-top: 25px;
    transition: all .3s;
}
#MenuIcon:hover #MenuLine::before{
    width: 60px;
}
#MenuLine::after{
    content: '';
    height: 4px;
    width: 47px;
    background-color:$primary;
    position: absolute;
    margin-top: -6px;
    transition: all .3s;
}
#MenuIcon:hover #MenuLine::after{
    width: 60px;
}
#MainMenu{
	z-index: 10;
	min-height:100%;
    height: 100vh;
    width: 350px;
    background-color: $primary;
		-webkit-clip-path:polygon(0 0,100% 0,0% 100%,0% 100%);
		clip-path: polygon(0 0,100% 0,0% 100%,0% 100%);
    position: fixed;
    top:0;
    left: -400px;
		transition: all .5s ease-in-out;
		.logo_svg{
			 height:100px;
			 @media screen and (max-height: 410px){
				height:60px;
			}
			// filter: invert(1);
		}
		#logo{
			position:absolute;
			top:20%;
			left:50%;
			transform: translate(-50%);
			width: 150px;
			height: 100px;
			@media screen and (max-height: 800px){
				top:3%;
			}
			@media screen and (max-height: 410px){
				top:2%;
				width: auto;
			}
		}
}

// @keyframes logo_rotate {
// 	0%{transform:rotateY(0deg);}
// 	100%{transform: rotateY(360deg);}
// }
	.logo{
		position: absolute;
		right: 20px;
		top: 20px;
	}
	.logo img{
		margin-left: 50px;
		height: 80px;
// animation: none;
		// animation: logo_rotate 12s ease-in-out infinite;
	}


	.transparent_nav{
		// text-align: right;
		// margin-right: 50px;
		ul{
			font-family: $elektra;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			text-transform: uppercase;
			transform: translate(-50%,-50%);
			@media screen and (max-height: 800px){
				line-height: 8px;
			}
			li{
				margin: 30px;
				a{

					// text-transform: uppercase;
					text-decoration: none;
					// border:1px solid black;
					color: #fff;
					transition: all .2s ease-in-out;
					display: inline-block;
				}
				a:hover{
					// transform: scale(0.9);
					// transform: translateY(2px);
					color: $unprimary;
				}
			}
		}
	}
}
#close{
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%,-50%);
	font-family: $elektrabold;
	font-size: 20px;
	text-transform: uppercase;
	color: $unprimary;
	transition: all .3s;
	border:3px solid $unprimary;
	padding: 4px;
	padding-top: 7px;
	@media screen and (max-height: 800px){
		bottom: 10%;
		top:initial;
	}
	@media screen and (max-height: 410px){
		bottom: 1%;
		height: 1.4rem;

	}
}
#close:hover{
	color: #fff;
	cursor: pointer;
	border:3px solid #fff;
}


.transparent_nav:before{
	content: '';
	height: 1px;
	width: 50%;
	background-color:$unprimary;
	position: absolute;
	left: 25%;
	top: 35%;
	transition: all .3s;
	@media screen and (max-height: 800px){
		top: 28%;
	}
	@media screen and (max-height: 410px){
		top: 21%;

	}
}
.transparent_nav:after{
	content: '';
	height: 1px;
	width: 50%;
	background-color:$unprimary;
	position: absolute;
	left: 25%;
	top: 65%;
	transition: all .3s;
	@media screen and (max-height: 800px){
		top: initial;
		bottom: 28%;
	}
	@media screen and (max-height: 410px){
		bottom: 21%;
	}
}

#header_video{
	padding-left: 12px;
	padding-top: 260px;
  padding-bottom: 356px;
	background-position: 50% 50%;
	// padding-top: 130px;
	// padding-bottom: 33px;
	/* margin-top: -60px; */
	background: url(/assets/img/backdetal.jpeg) no-repeat;
	background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
	z-index: -1;
	position: relative;
	overflow: hidden;
	@media screen and (max-width: 860px){
		padding-top: 100px;
		padding-bottom: 80px;
	}
	@media screen and (max-width: 725px){
		padding-top: 100px;
		padding-bottom: 20px;
	}
	@media screen and (max-width: 525px){
		background-position: bottom;
	}
	// width: 100%;
		video{
			// display: none;
			position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -2;
				background: url(/assets/img/backdetal.jpeg) no-repeat;
				background-size: cover;
				transition: 1s opacity;
				@media screen and (max-width: 860px){
					display: none;
				}

			}



	// height: 100%;
	// padding-top: 135px;
	// padding-bottom: 482px;
	// 	margin-left: 70px;
	// 	text-align: left;
		.header_text{
			font-size: 36px;
			font-family:$elektra;
			line-height: 70px;
			color: $primary;
			word-spacing:15px;
			padding-bottom: 40px;
			margin-left: 50px;
			text-shadow:
			1.5px 1.5px $unprimary;


			@media screen and (max-width: 980px){
				font-size: 26px;
			}
			@media screen and (max-width: 860px){
				margin-bottom: 0px;
				margin-top: 40px;
				text-shadow: none;
			}
			@media screen and (max-width: 680px){
				font-size: 18px;
			}
			@media screen and (max-width: 460px){
				margin-left: 20px;
			}

			span{
				margin-top: 40px;
				color:$blockcol;
				font-size: 50px;
				text-transform: uppercase;
				font-weight: 700;

				@media screen and (max-width: 980px){
					font-size: 40px;
				}
				@media screen and (max-width: 860px){
					font-size: 36px;
				}
				@media screen and (max-width: 680px){
					font-size: 26px;
				}
			}
		}
}

.newsmedia{
	.news-item{
		color: $primary;
		transition: all 0.3s;
		&:hover{
			color:$unprimary;
		}
	}
	.heading_h3{
		border-bottom-color: $unprimary;
		a{
			color: #000000;
		}
	}
	.heading_h4{
		padding-right: 70px;
		background-image: url(/assets/img/right-arrow.svg);
		background-repeat: no-repeat;
		background-size: 40px;
		background-position: right 5px;
		@media screen and (max-width: 780px){
			font-size:12px;
		}
	}
	.news-item_data{
		margin: 0 0 5px 0;
		font-size: 13px;
		padding-top: 10px;
		color: black;

	}
	.news-item_data::after{
		content: "";
	display: block;
	width: 200px;
	height: 20px;
	border-bottom: 1px solid $unprimary;
	bottom: -2px;
	}
}



.block_row{
	display: flex;
	@media screen and (max-width: 680px){
		flex-direction: column;
		}
	.ourmission{
		width: 50%;
		background-color: $unprimary;
		color: #fff;
		@media screen and (max-width: 680px){
		width: auto;
		}

		.heading_h2{
			@media screen and (max-width: 860px){
				font-size: 22px;
			}
		}
	}
	.newsmedia{
		width: 50%;
		@media screen and (max-width: 680px){
			width: auto;
			}
	}
	.mission_wrapper{
		padding:40px 70px;
		@media screen and (max-width: 460px){
			padding:30px 40px;
		}
	}
}
.block-product_picture{
	text-align: center;
	text-align: center;
	height: 400px;
  line-height: 400px;
	overflow: hidden;

	@media screen and (max-width: 460px){
		padding:20px;

	}
	img{
		max-width: 100%;
		max-height: 100%;
		transition: all 0.5s ease-in;
		vertical-align: middle;
	}
	img:hover{
		transform: scale(1.07);
	}
}
.block-product{
	height: 400px;
	display: flex;
	padding-left: 12px;
	border-top:1px solid $unprimary;
	@media screen and (max-width: 680px){
		flex-direction: column;
		height: auto;
	}
	// .description_wrapper:hover .block-product_description{
	// 	transform: rotateY(0.5turn);
	// }
	.description_wrapper{
		transform-style: preserve-3d;
	}
	.description_wrapper:hover .description_side{
		transform: rotateY(0deg);
	}
	.description_wrapper:hover .description_title {
		transform: rotateY(180deg);
	}
	.description_wrapper,
	.description_title,
	.description_side {
		// width: 320px;
		height: 400px;
	}


	.block-product_description{
		position: relative;
		height: 400px;
		transition: 1.4s;
		transform-style: preserve-3d;
		// background-color: $unprimary;
		.description_title{
			color:#fff;
			z-index: 2;
			transform: rotateY(0deg);
			background-color: $unprimary;
			.card_title{
				transform: translateZ(6rem);
				margin:40px;
			}
			.card_subtitle{
				transform: translateZ(4rem);
				margin: 0 40px;
			}
		}

		.description_title,.description_side{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			// margin: 40px 40px 0 40px;
			backface-visibility: hidden;
			transform-style: preserve-3d;
			transition: 1.4s;
			display: flex;
			flex-direction: column;
			@media screen and (max-width: 780px){
				padding: 20px 15px 0 15px;

			}
		}
		.description_side{
			transform: rotateY(-180deg);
			font-family: $verdana;
			text-transform: uppercase;
			line-height: 1.5;
			background-color: #fff;

				.card_body{
					margin: 40px;
					margin:auto 40px;
					transform: translateZ(4rem);
				color:$unprimary;

				}
		}
		}
}

.undermining{

	.block-product_picture{
		width:60%;
		@media screen and (max-width: 680px){
			width: auto;}
	}
	.description_wrapper{
		width:40%;
		@media screen and (max-width: 680px){
			width: auto;}
	}
}
.adobemining{
	@media screen and (max-width: 680px){
		flex-direction: column-reverse;
	}
	.description_wrapper{
		width:40%;
		@media screen and (max-width: 680px){
			width: auto;}
	}
	.block-product_picture{
		width:60%;
		@media screen and (max-width: 680px){
			width: auto;}

	}
}
.add_product{
	height: 400px;
	border-top:1px solid $unprimary;
	@media screen and (max-width: 680px){
		height: auto;
	}
}
.footer{
	position: relative;
	float:left;
	width: 100%;
	background-color: $unprimary;
	color: #fff;
	font-family: $verdana;
	font-size: 16px;
	@media screen and (max-width: 680px){
		font-size: 14px;
	}
	.footer_wrapper{
	background-color: $unprimary;
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	@media screen and (max-width: 680px){
		display: block;
		text-align: center;
	}

	.footer_wrapper_head{
display: flex;

	@media screen and (max-width: 680px){
		display: block;
		text-align: center;
	}}
	.contact-location_heading{
				color: $primary;
				text-transform: uppercase;
				font-family: $verdana;
				font-size: 14px;
			}
			.footer_head{
							display: flex;
							flex-direction: column;
							border-right: 1px solid rgba(255,255,255,0.3);
							// justify-content: center;
							padding-left: 50px;
							padding-right: 50px;
							min-width: 250px;

							@media screen and (max-width: 460px){
								display: block;
								padding-left: 0;
							}
							.mail a{
								font-size: 14px;
								color: #fff;
								text-decoration: underline;
								text-transform: uppercase;
								@media screen and (max-width: 680px){
									font-size: 18px;
										}
							}
							.contact-location{
								line-height: 1.5;
								margin-top: 50px;
								@media screen and (max-width: 680px){
								margin-top: 15px;
								line-height: 2;
									}
								}
							.social{
								padding-top: 30px;
								text-align: start;
								@media screen and (max-width: 680px){
									display: flex;
									justify-content: space-around;
									text-align: center;
								}
								a{
									padding-right: 20px;
									line-height: 2.5;
									img{
										height: 20px;
										@media screen and (max-width: 680px){
											height: 30px;

												}
									}
								}
								a:hover img{
									transform: scale(1.3);
									transition: all .5s;
								}
							}
						}
						.footer_body{
										margin: 0 auto;
										display: flex;
										flex-direction: row;
										flex-wrap: wrap;
										// justify-content: space-around;

										@media screen and (max-width: 680px){
											display: block;
											padding-left: 0;
										}
										.footer-contact{
											font-family: $verdana;
											font-weight: 400;
											font-size: 12px;
											margin: 50px;
											.contact-location_heading{
												padding-bottom: 5px;
												display: inline-block;
												border-bottom: 1px solid rgba(255,255,255,0.3);
											}
										}
									}
	}

			.scrol-btn{
				position: absolute;
				right: 30px;
				top: 15px;
				transition: all .5s;
				width: 50px;
				height: 40px;
				text-align: center;
				cursor: pointer;
				@media screen and (max-width: 460px){

				top: 720px;
			}
				img{
					width: 30px;
					animation: scroll-up-arrow 3s infinite;
				}
				span{
					font-family: $verdana;
					text-transform: uppercase;
					font-size: 12px;
					color: #fff;

				}
				a:hover img{
					transform: scale(1.2);
					transition: all .5s;
				}
				@keyframes scroll-up-arrow {
					0% {
						transform: translateY(1rem);
						opacity: 0
					}
					20%,
					90% {
						transform: translateY(0);
						opacity: 1
					}
					100% {
						transform: translateY(-1rem);
						opacity: 0
					}
				}
			}
}
		.policyty{
			 display: flex;
   	 justify-content: flex-end;
   	 margin-right: 50px;

			@media screen and (max-width: 680px){
				justify-content: center;
				padding-right: 0;
				padding-top: 20px;
				margin-left: 26px;
				// align-self: center;
			}
			p{
				font-family: $elektra;
				font-size: 12px;
				font-weight: 100;
				color:#fff;
			}
		}