@import 'fonts';
@import 'values';
.shipper_content-wrapper{
	display: flex;
	@media screen and (max-width: 1024px){
	display: block;
	}
}
.shipper_content{
	color:$unprimary;
	padding-bottom: 40px;
		p{
			line-height:1.5;
		}
		.part-left{
			margin: 0 50px;
			@media screen and (max-width: 450px){
				margin-right: 0;
				margin-left: 0;
			}
		}

		.intro{
			margin-bottom: 22px;
			font-size:16px;
			line-height:1.5;
		}
		ul{
			margin-bottom: 40px;
			li{
				position: relative;
				padding-left: 25px;
				&:before{
					content: '';
					position: absolute;
					background-image: url(/assets/img/checkred.svg);
					width: 20px;
					height: 20px;
					// width: 7px;
					// height: 9px;
					// transform: skew(-20deg);
					// background: #f68a3a;
					top: -3px;
					left: 0;
				}
			}
			li:nth-child(n+2){
				margin-top: 20px;
			}
		}
		.contact-shipper{
			box-shadow: 0px 0px 15px 0px rgba(182, 182, 182, 0.5);
			text-align: center;
			padding: 25px;
			color:$unprimary;
			font-size:16px;
			@media screen and (max-width: 1024px){
				margin-top: 40px;
			}
			@media screen and (max-width: 450px){
				margin-right: 12px;
				margin-left: 12px;
				padding: 25px 5px;
			}
			.contact-tel-wrapper{
				margin-bottom: 19px;
				font-size:14px;
				@media screen and (max-width: 500px){
				}
				span{
					line-height: 1.5;
				}
				.tel{
					position: relative;
					font-family: $elektra;
					color: $primary;
					font-size: 20px;
					display: inline-block;
					padding-left: 30px;
					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						background-image: url(/assets/img/telicon.svg);
						width: 22px;
						height: 22px;
					}
				}
			}
    .email{
			color:$unprimary;
			font-size:14px;
			position: relative;
			display: inline-block;
			padding-left: 23px;
			border-bottom: 1px solid $primary;
			&:before{
				content: '';
				position: absolute;
				top: -2px;
				left: -6px;
				background-image: url(/assets/img/mailicon.svg);
				width: 24px;
				height: 24px;
			}
		}
		}
		.part-right{
			box-shadow: 0 0 15px 0 rgba(182, 182, 182, 0.5);
			padding: 38px 25px;
			margin-right: 50px;
			height: 330px;
			width: 500px;
			@media screen and (max-width: 1024px){
				margin:20px 50px;
				height: auto;
				width: auto;

			}
			@media screen and (max-width: 450px){
				margin-right: 12px;
				margin-left: 12px;

			}
			.list-link-exel{
				background-color:#fff;
				background-color: #3d4f5a;
				color: #fff;
				padding: 11px 20px 14px;
				font-family: Verdana, sans-serif;
				font-size: 14px;
				line-height: 1.43;
				text-decoration: none;
				display: block;
				position: relative;
				max-width: 315px;
				margin: 0 auto 28px;
				@media screen and (max-width: 1024px){
				text-align: center;
				}
				&:after{
					content: '';
					position: absolute;
					background-image: url(/assets/img/sheets.svg);
					top: 11px;
					right: 6px;
					width: 20px;
					height: 20px;
					@media screen and (max-width: 1024px){
						right: 44px;
					}
					@media screen and (max-width: 860px){
						right: 10px;
					}
					@media screen and (max-width: 450px){
						right: 1px;
					}
				}
			}
		}
}


