@import 'fonts';
@import 'values';
.shipper_content{
	color:$unprimary;
	padding-bottom: 40px;
	display: grid;
	grid-template-columns: 1fr 350px;
	grid-column-gap: 40px;
		// .part-left,.part-right{
		// display: inline-block;
		// vertical-align: top;
		// float: left;
		// }
		@media screen and (max-width: 1024px){
			grid-template-columns: initial;
			grid-template-rows: 1fr auto auto;
		}
		p{
			line-height:1.5;
		}
		.part-left{
			padding-left: 50px;
			padding-right: 50px;
		}
		@media screen and (max-width: 450px){
			margin-right: 12px;
			margin-left: 12px;
		}
		.intro{
			margin-bottom: 22px;
			font-size:16px;
			line-height:1.5;
		}
		ul{
			margin-bottom: 40px;
			li{
				position: relative;
				padding-left: 25px;
				&:before{
					content: '';
					position: absolute;
					background-image: url(/assets/img/checkred.svg);
					width: 20px;
					height: 20px;
					// width: 7px;
					// height: 9px;
					// transform: skew(-20deg);
					// background: #f68a3a;
					top: -3px;
					left: 0;
				}
			}
			li:nth-child(n+2){
				margin-top: 20px;
			}
		}
		.contact-shipper{
			grid-column-start:1;
			grid-row-start:2;

			box-shadow: 0px 0px 15px 0px rgba(182, 182, 182, 0.5);
			text-align: center;
			padding: 25px;
			color:$unprimary;
			font-size:16px;
			margin-left: 50px;
			@media screen and (max-width: 1240px){
				grid-column-end:3;
				margin:0 50px 0 50px;
			}
			@media screen and (max-width: 1024px){
				grid-column-end:initial;
				grid-column-start:initial;
				grid-row-start:initial;
				margin-top: 40px;
				// grid-row-start:3;
			}
			@media screen and (max-width: 450px){
				margin-right: 12px;
				margin-left: 12px;
			}
			.contact-tel-wrapper{
				margin-bottom: 19px;
				font-size:14px;
				@media screen and (max-width: 500px){
					display: inline-grid;

				}
				span{
					line-height: 1.5;
				}
				.tel{
					position: relative;
					font-family: $elektra;
					color: $primary;
					font-size: 20px;
					display: inline-block;
					padding-left: 30px;
					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						background-image: url(/assets/img/telicon.svg);
						width: 22px;
						height: 22px;
					}
				}
			}
    .email{
			color:$unprimary;
			font-size:14px;
			position: relative;
			display: inline-block;
			padding-left: 23px;
			border-bottom: 1px solid $primary;
			&:before{
				content: '';
				position: absolute;
				top: -2px;
				left: -6px;
				background-image: url(/assets/img/mailicon.svg);
				width: 24px;
				height: 24px;
			}
		}
		}
		.part-right{
			box-shadow: 0 0 15px 0 rgba(182, 182, 182, 0.5);
			padding: 38px 25px;
			margin-right: 50px;
			height: 330px;
			@media screen and (max-width: 1024px){
				margin-left: 50px;
			  height: auto;

			}
			@media screen and (max-width: 450px){
				margin-right: 12px;
				margin-left: 12px;

			}
			.list-link-exel{
				background-color:#fff;
				background-color: #3d4f5a;
				color: #fff;
				padding: 11px 20px 14px;
				font-family: Verdana, sans-serif;
				font-size: 14px;
				line-height: 1.43;
				text-decoration: none;
				display: block;
				position: relative;
				max-width: 315px;
				margin: 0 auto 28px;
				@media screen and (max-width: 1024px){
				text-align: center;
				}
				&:after{
					content: '';
					position: absolute;
					background-image: url(/assets/img/sheets.svg);
					top: 11px;
					right: 6px;
					width: 20px;
					height: 20px;
					@media screen and (max-width: 1024px){
						right: 44px;
					}
					@media screen and (max-width: 860px){
						right: 10px;
					}
					@media screen and (max-width: 450px){
						right: 1px;
					}
				}
			}
		}
}


